@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

* {
  font-family: "Asap", sans-serif;
}

body {
  background: #e5e5e5;
}

h2 {
  font-weight: 600;
  font-size: 48px;
}

nav ul li {
  margin: 0 20px;
}

.nav-item {
  a {
    color: #cacad2;
  }

  .active {
    color: #f2ad5f;
    border-bottom: 2px solid #f2ad5f;
  }
}

.btn-yellow {
  background-color: #f2ad5f;
  color: #986121;
}

.hero {
  margin-top: 15vh;

  h1 {
    font-size: 4rem;
    font-weight: 600;
  }
}

.team-work {
  margin-top: 15vh;
}

.company {
  width: 70%;
}

.reason {
  margin-top: 240px;
  margin-bottom: 240px;

  a {
    text-decoration: underline;
    color: #0f1d37;
  }

  ul {
    list-style: none; /* Remove default bullets */
    list-style-position: inside;
    margin: 50px 0;

    li {
      display: flex;

      &:nth-child(odd) {
        &::before {
          content: url("../img/dot-dark.svg");
          display: inline-block; /* Needed to add space between the bullet and the text */
          width: 1em; /* Also needed for space (tweak if needed) */
          margin-left: -1em; /* Also needed for space (tweak if needed) */
          margin-right: 1.5em;
          vertical-align: middle;
          margin-top: 10px;
        }
      }

      &:nth-child(even) {
        &::before {
          content: url("../img/dot-orange.svg");
          display: inline-block; /* Needed to add space between the bullet and the text */
          width: 1em; /* Also needed for space (tweak if needed) */
          margin-left: -1em; /* Also needed for space (tweak if needed) */
          margin-right: 1.5em;
          vertical-align: middle;
          margin-top: 10px;
        }
      }

      span {
        vertical-align: middle;
        color: #0f1d37;
        font-size: 22px;
        line-height: 50px;
      }
    }
  }
}

.featured {
  h2 {
    margin-bottom: 120px;
  }
}
